{% extends 'base.html.twig' %}

{% block body %}
     {% if is_granted('ROLE_USER') %}
    <p class="text-center">Naozaj sa chcete prihlásiť na kurz<br> <b>{{ enrolled.courseInstance.courseType }}</b>?</p>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Potvrdiť" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="/">Naspäť</a>
        </li>
    </ul>
    {% endif %}
{% endblock %}
