#panelInstance{
    border-radius: 0;
    border: 1px solid #b3231b;
}

#panelInstanceHeading{
    background-color: #b3231b;
    text-align: left;
    margin:0;
    border-radius: 0;
    padding: 1px 5px;
    border: 0;
    color: #FFFFFF;
}

#panelInstanceHeading h4{
    text-transform: uppercase;
    font-weight: bold;
}

#panelInstanceBody{
    padding: 5px;
    text-align: center;
}

#panelElementHeading1, #panelElementHeading2, #panelElementHeading3 {
    background-color: transparent;
    color: #0f0f0f;
    font-weight: bold;
    border: none;
    border-radius: 0;
    padding: 0;
}

#panelElementBody1, #panelElementBody2{
    border: 1px solid #000000;
    text-align: left;
}

#panelElementBody3{
    text-align: center;
    padding: 0;
    border: 1px solid #000000;
}

#panelElement1, #panelElement2, #panelElement3{
    border: none;
    margin: 10px 20px 10px 20px;
}

#tableHeader2 {
    height: 35px;
    border-bottom: 1px solid #000000;
    text-align: center;
}

#tableHeader2 th{
    text-align: center;
}

#instancesTable{
    width: 100%;
    text-align: center;
}

#newInstanceTable{
    text-align: left;
    border:2px solid #FFFFFF;
    border-collapse:separate;
    border-spacing: 5px;
    width: 100%;
}

#newInstanceTable td {
    /*
    margin: 12px 12px 12px 12px;
    */
    /*
    padding: 12px 12px 12px 12px;
    */

}

.formElement{
    border-color: #0f0f0f;
    border-radius: 0;
    border-style: solid;
    border-width: 1px;
    border-radius: 0;
}
