{% extends 'base.html.twig' %}
{% block title %}Zoznam prihlásených{% endblock %}
{% block body %}

{% if is_granted('ROLE_SUPERVISOR') and courseInstance.supervisor.id == app.user.id %}
    <h4>Zoznam prihlásených na kurz {{ courseInstance.courseType.name }}</h4><br>
    <div>
        {% if courseInstance.enrolleds|length == 0 %}
            Na tento termín kurzu nie je momentálne nikto prihlásený.

            {% else %}
        <b>Prihlásení</b><br><br>
            <ul>
        {% endif %}

    {% for enroll in courseInstance.enrolleds %}
        <li>{{ enroll.userId }}</li>
    {% endfor %}

        {% if courseInstance.enrolleds|length > 0 %}
            </ul>
        {% endif %}
    </div>




            <br>

            <a {% if courseInstance.enrolleds|length == 0 %}
                class="btn disabled"
            {% else %}
                class="btn btn-default"
            {% endif %}  href="{{ path('enrolled_users_pdf', { 'id': courseInstance.id }) }}">Tlačiť zoznam prihlásených</a>
    <br><br>
<ul>
          <li><a href="{{ path('supervised', { 'id': app.user.id }) }}">Naspäť</a></li>
</ul>
{% endif %}
{% endblock %}
