{% extends 'base.html.twig' %}
{% block title %}Poslať email{% endblock %}
{% block body %}
    <h1>Poslať email</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Odoslať" />
    {{ form_end(form) }}


{% endblock %}
