{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/emailStylesheet.css') }}" class="css">
{% endblock %}

{% block body %}
<div class="panel panel-default " id="panelEmail">
    <div class="panel-heading" id="panelEmailHeading">
        <h4>E-mail odoslaný</h4>
    </div>

    <div class="panel-body" id="panelEmailBody">

        <p>Váš email bol odoslaný.</p>
    </div>
</div>

{% endblock %}
